/**
 * Imports
 */
@import 'mixins';
@import 'variables';
@import 'animation';
@import 'fonts';


.woocommerce {
	.content {
		background: $global-background;
		margin-bottom: $global-medium-margin;
		@include min-screen($tablet) {
			padding: $global-medium-margin;
			background: $white;
		}
	}
	ul.products{
		margin-left: 0;
	}
	li.product{
		list-style-type: none;
	}
}
.woocommerce-LoopProduct-link{
	display: block;
}

.woocommerce.post-type-archive-product ul.products li.product {
	width: 100%;
	@include min-screen(800px){
		width: 30.6% ;
	}

}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	.button {
		float: left;
		clear: both;
		margin-top: 15px;
		display:block;
		flex:initial;
		width: auto;
	}

}

.added_to_cart{
	position: absolute;
	bottom: 6%;
	left: 65%;
	color:$accent-color;
	text-transform: uppercase;
	font-size:11px;
	font-weight:bold;
	flex: initial;
	width: auto;
}


.woocommerce .woocommerce-ordering select, .woocommerce div.product form.cart .variations select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: inherit;
	font-size: 10px;
	height: 34px;
	padding: 0 10px;
	color: inherit;
	cursor: pointer;
	min-width: 136px;
	width: 200px;
	float: right;

}

.woocommerce-result-count {
	float: left;
	margin: 0;
}

.products {
	clear: both;
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
}

select.orderby {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 15px;
	padding: 7px;

}

span.onsale {

	background-color: $accent-color;
	position: absolute;
	color: $white;
	padding: 5px 10px;
	margin-left: -6px;
	margin-top: 20px;
	z-index: 1000;
	.single-product & {
		margin-top: 40px;
	}

	&:after {
		content: " ";
		display: block;
		position: absolute;
		border: 0.382em solid transparent;
		border-left-color: black;
		transform: rotate(-45deg);
		left: 2px;
		top: 28px;
		border-radius: 0;
	}
}

.woocommerce-loop-product__title {
	margin-top: 15px;
	margin-bottom: 5px;
	//text-align: center;
	font-size: rem(20px);
	font-style: italic;
}

/**
	 * Star ratings
	 */
.star-rating {
	//float: right;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 10px;
	width: 5.4em;
	font-family: 'star';
	color: $global-color;

	&::before {
		content: '\73\73\73\73\73';
		color: darken($global-color, 10%);
		//float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span::before {
		content: '\53\53\53\53\53';
		top: 0;
		position: absolute;
		left: 0;
	}
}

.woocommerce-product-rating {
	@include clearfix();
	line-height: 2;
	display: block;

	.star-rating {
		margin: 0.5em 4px 0 0;
		float: left;
	}
}

.products .star-rating {
	display: block;
	margin: 0 0 0.5em;
	float: none;
}

.hreview-aggregate .star-rating {
	margin: 10px 0 0;
}


p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;

		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: 'WooCommerce';
			content: '\e021';
			text-indent: 0;
		}

		&:hover ~ a::before {
			content: '\e021';
		}
	}

	&:hover a::before {
		content: '\e020';
	}

	&.selected {
		a.active {
			&::before {
				content: '\e020';
			}

			~ a::before {
				content: '\e021';
			}
		}

		a:not( .active )::before {
			content: '\e020';
		}
	}
}

.price {
	font-size: $global-small-font-size;
	color: $global-color;
// 	float: left;

	.single-product .summary & {
// 		float: none;
	}
}

//pagination
.woocommerce-pagination {
	@extend .archive-pagination;
	@extend .pagination;
	.current {
		background: $primary-color;
		padding: 9px 12px 11px;
		color: $white;

	}

}

/* Single Products */
.product-wrapper {
	margin-bottom: $global-large-margin;
}

//single products images

.woocommerce-product-gallery {
	position: relative;
}

//lightbox trigger
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2em;
	z-index: 9;
	width: 36px;
	height: 36px;
	background: $white;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;
	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border: 2px solid #000;
		border-radius: 100%;
		position: absolute;
		top: 9px;
		left: 9px;
		box-sizing: content-box;
	}
	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 8px;
		background: #000;
		border-radius: 6px;
		position: absolute;
		top: 19px;
		left: 22px;
		transform: rotate(-45deg);
		box-sizing: content-box;
	}
}

img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

//Thumbs slider
.flex-control-thumbs {
	overflow: hidden;
	zoom: 1;
	margin: 10px 0 0 0;
	padding: 0;

	li {
		width: 20%;
		float: left;
		margin: 0;
		list-style: none;

		img {
			cursor: pointer;
			opacity: .5;
			margin: 0;
			@include transition;

			&.flex-active,
			&:hover {
				opacity: 1;
			}
		}
	}
}

//review link
.woocommerce-review-link {
	font-size: $base-small-font-size;
	color: $global-color;
	font-style: italic;
	position: relative;
	font-family: $base-heading-font-family;
	top: -7px;
	margin-left: 10px;
	&:hover {
		color: $base-link-hover-color;
	}
}

.woocommerce .quantity .qty {
	width: 50px;
	text-align: center;
	float: left;
	padding: 7px;
	margin-right: 10px;
}

.woocommerce-product-details__short-description {
	text-align: justify;
}

.product_meta {
	clear: both;
	margin-top: 20px;
	.posted_in {
		font-style: italic;
		font-family: $base-heading-font-family;
		a {
			color: $global-color;
			&:hover {
				color: $primary-color;
			}
		}
	}

}

//Tabs
.woocommerce-tabs {
	margin-bottom: $global-large-margin;
}
.wc-tabs {
	text-transform: uppercase;
	padding: $global-medium-margin 0;
	.active-border {
		height: 1px;
		background: $primary-color;
		width: 0;
		@include transition;
	}

	li {
		padding-left: 0;
		margin-left: 20px;
		a {
			//color:$global-muted-color;
			font-size: $global-small-font-size;
		}
	}
	.active {
		//border-bottom: 1px solid $primary-color;
		a {
			color: $global-color;
			font-weight: 600;
		}
		.active-border {
			width: 100%;
		}
	}
}

.woocommerce-Tabs-panel {
	background: $light;
	padding: 20px;
	@include min-screen($tablet) {
		padding: 40px;
	}

}

//reviews
#reviews .commentlist {
	margin-left: 0;
	li {
		list-style-type: none;
		margin-bottom: $global-margin;

		@extend .uk-card;
		@extend .uk-card-body;
		.meta {
			margin: 10px 0 5px;
			font-family: $global-heading-font-family;
			font-style: italic;
			font-size: $global-small-font-size
		}
	}

}

p.stars a{
	color: $global-color;
	font-size:12px;
}

#review_form #respond {
	@include clearfix();
	position: static;
	margin: 0;
	width: auto;
	padding: 0;
	background: transparent none;
	border: 0;

	p {
		margin: 0 0 10px;
	}

	.form-submit input {
		left: auto;
	}

	textarea {
		box-sizing: border-box;
		width: 80%;
	}
	.submit{
		width: 200px;
		margin-top: $global-margin;
	}
}

/**
 * Cart/checkout page
 */
.woocommerce table.shop_table {
	border: 1px solid $global-border;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-radius:0;
	td{
		padding: 0 15px;
		[data-title="Subtotal"]{
			padding: 0 !important;
		}
	}
	th{
		font-weight: 700;
		padding: 9px 12px;
		text-transform: uppercase;
		font-size:rem(13);
		letter-spacing:1px;
	}
}

.woocommerce-Price-amount.amount{
	position: relative;
	top: 5px;
}



.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
	table.cart {
		.product-thumbnail {
			min-width: 32px;
			padding-bottom: 10px;
		}

		img {
			width: 60px;
			box-shadow: none;
		}

		th,
		td {
			vertical-align: middle;

		}

		td.actions{
			padding: 20px;
			.coupon .input-text {
				float: left;
				box-sizing: border-box;
				border: 1px solid $global-border;
				padding: 0 15px;
				margin: 0 15px 15px 0;
				outline: 0;
				line-height: 42px;
				width: 300px;
				text-transform: uppercase;
				font-size:12px;
			}
		}

		input {
			margin: 0 15px 0 0;
			width: auto;
		}
	}

	.wc-proceed-to-checkout {
		@include clearfix;
		padding: 1em 0;

		a.checkout-button {

			text-align: center;
			margin-bottom: 1em;
			width:auto;

		}
	}

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float: none;
				display: block;
			}

			.shipping-calculator-button::after {
				@include iconafter( '\e019' );
			}
		}

		.cart_totals {
			p small {
				color: $subtext;
				font-size: 0.83em;
			}

			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;


				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}

				th {
					width: 40%;
				}

				td,
				th {
					vertical-align: top;
					border-left: 0;
					border-right: 0;
					line-height: 1.5em;
				}

				small {
					color: $subtext;
				}

				select {
					width: 100%;
				}
			}

			.discount td {
				color: $highlight;
			}

			tr td,
			tr th {
				border-top: 1px solid $secondary;
			}
		}

		.cross-sells ul.products li.product {
			margin-top: 0;
		}
	}
	.checkout {
		.col-2 {
			h3#ship-to-different-address {
				float: left;
				clear: none;
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {
		background: $light;
		border-radius: 0;
		padding: 40px;

		ul.payment_methods {
			@include clearfix();
			text-align: left;
			padding: 1em;
			border-bottom: 1px solid darken( $secondary, 10% );
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0;
				font-weight: normal;
				list-style-type: none;

				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 0.5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}

			li:not(.woocommerce-notice) {
				@include clearfix;
			}
		}

		div.form-row {
			padding: 1em;
		}

		div.payment_box {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			font-size: 0.92em;
			border-radius: 2px;
			line-height: 1.5;
			background-color: darken( $secondary, 5% );
			color: $secondarytext;

			input.input-text, textarea {
				border-color: darken( $secondary, 15% );
				border-top-color: darken( $secondary, 20% );
			}

			::-webkit-input-placeholder {
				color: darken( $secondary, 20% );
			}

			:-moz-placeholder {
				color: darken( $secondary, 20% );
			}

			:-ms-input-placeholder {
				color: darken( $secondary, 20% );
			}

			.woocommerce-SavedPaymentMethods {
				list-style: none outside;
				margin: 0;
				.woocommerce-SavedPaymentMethods-token,
				.woocommerce-SavedPaymentMethods-new {
					margin: 0 0 0.5em;
					label {
						cursor: pointer;
					}
				}
				.woocommerce-SavedPaymentMethods-tokenInput {
					vertical-align: middle;
					margin: -3px 1em 0 0;
					position: relative;
				}
			}

			.wc-credit-card-form {
				border: 0;
				padding: 0;
				margin: 1em 0 0;
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right 0.618em center;
				background-size: 32px 20px;

				&.visa {
					background-image: url('../images/icons/credit-cards/visa.svg');
				}

				&.mastercard {
					background-image: url('../images/icons/credit-cards/mastercard.svg');
				}

				&.laser {
					background-image: url('../images/icons/credit-cards/laser.svg');
				}

				&.dinersclub {
					background-image: url('../images/icons/credit-cards/diners.svg');
				}

				&.maestro {
					background-image: url('../images/icons/credit-cards/maestro.svg');
				}

				&.jcb {
					background-image: url('../images/icons/credit-cards/jcb.svg');
				}

				&.amex {
					background-image: url('../images/icons/credit-cards/amex.svg');
				}
				&.discover {
					background-image: url('../images/icons/credit-cards/discover.svg');
				}
			}

			span.help {
				font-size: 0.857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '';
				display: block;
				border: 1em solid darken( $secondary, 5% ); /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -0.75em;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				float: right;
				line-height: 52px;
				font-size: 0.83em;
			}

			img {
				max-height: 52px;
				vertical-align: middle;
			}
		}
	}
}

.product-remove a{
	color: $accent-color;
	font-size:40px;
	font-weight:100;
}
.product-name a{
	color:$global-color;
	font-size: 11px;
	text-transform: uppercase;
	font-weight:bold;
	&:hover{
		color: $global-link-color;
	}
}

.coupon{
	input[name="apply_coupon"]{
		float: left;
		width: auto;
	}

}

.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
	display: none;
}


p.cart {
	margin-bottom: 2em;
	@include clearfix();
}

form.cart {
	margin-bottom: 2em;
	@include clearfix();

	div.quantity {
		float: left;
		margin: 0 4px 0 0;
		input{
			line-height: 30px;
		}
	}

	table {
		border-width: 0 0 1px;

		td {
			padding-left: 0;
		}


		small.stock {
			display: block;
			float: none;
		}
	}

	.variations {
		margin-bottom: 1em;
		border: 0;
		width: 100%;

		td,
		th {
			border: 0;
			vertical-align: top;
			line-height: 2em;
		}

		label {
			font-weight: 700;
		}

		select {
			max-width: 100%;
			min-width: 75%;
			display: inline-block;
			margin-right: 1em;
		}

		td.label {
			padding-right: 1em;
		}
	}

	.woocommerce-variation-description p {
		margin-bottom: 1em;
	}

	.reset_variations {
		visibility: hidden;
		font-size: 0.83em;
	}

	.wc-no-matching-variations {
		display: none;
	}

	.button {
		vertical-align: middle;
		float: left;
	}

	.group_table {
		td.label {
			padding-right: 1em;
			padding-left: 1em;
		}

		td {
			vertical-align: top;
			padding-bottom: 0.5em;
			border: 0;
		}

		td:first-child {
			width: 4em;
			text-align: center;
		}

		.wc-grouped-product-add-to-cart-checkbox {
			display: inline-block;
			width: auto;
			margin: 0 auto;
			transform:scale(1.5, 1.5);
		}
	}
}

//coments
.woocommerce-Reviews{
	li.comment{
		background: $white;
		box-shadow: $global-medium-box-shadow;
	}
}

//upsells
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {

	@include max-screen($tablet) {
		width: 100%;
	}
}

//checkout

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last, .woocommerce form .form-row-first, .woocommerce-page form .form-row-first{
	margin-top: 0;
}

.woocommerce-info{
	background: $light;
	margin-bottom:$global-medium-margin;
	padding:$global-medium-margin;
	border-top:5px solid $accent-color;
	text-transform: uppercase;
	font-weight:bold;
	font-size: $global-small-font-size;
}

.woocommerce-checkout-payment{
	border-top:5px solid $accent-color;
}

.woocommerce table.shop_table{
	padding:$global-medium-margin;
	background: $light;
	border: none;
	border-top:5px solid $accent-color;
}
.woocommerce form {
	textarea{
		height: 300px;
		border-color: $medium-gray;
	}
	input:not([type="submit"]){
		border-color: $medium-gray;
	}
}

#container.top{
	visibility: hidden !important;
}
#container{
	display: none !important;
}

//notices



.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
	font-family: WooCommerce;
	content: '\e015';
	display: inline-block;
	position: absolute;
	left: 15px;
	color: $accent-color;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	padding: $global-medium-margin;
	margin: 0 0 $global-medium-margin;
	position: relative;
	background-color: $light;
	color: $global-color;
	border-top: 5px solid $accent-color;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	.button{
		margin-top: -10px;
	}
	text-transform: uppercase;
	font-size: $global-small-font-size;
	font-weight:bold;
}


