/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/*-----------------------------------------------------------
	CONTAINERS
/*------------------------------------------------------------*/
.uk-container-xsmall { max-width: $container-xsmall-max-width !important  }

.uk-container-small { max-width: $container-small-max-width !important ; }

.uk-container-large { max-width: $container-large-max-width !important; }

.uk-container-expand { max-width: none !important; }


a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  @include transition();
}

::-moz-selection {
  color: $white;
  background-color: $dark-gray;
}

::selection {
  color: $white;
  background-color: $dark-gray;
}

a {
  @include transition();

  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $base-link-color;
    text-decoration: none;

  }
  &:active,
  &:focus {
    outline: none;
    color: $base-link-color;

  }
}

hr {
  margin: $base-body-line-height 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $global-border;
  border-left: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;

}

blockquote::before {
  display: block;
  position: relative;
  top: -10px;
  left: -20px;
  height: 0;
  font-size: 30px;
  content: "\201C";
}



/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.featured-content img,
.gallery img {
  width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery img {
  height: auto;
  padding: 4px;
  border: 1px solid $global-border;
}

.gallery img:hover {
  border: 1px solid $medium-gray;
}

.spacer{
  width: 150px;
  height: 2px;
  margin:$global-medium-margin auto;
  background: $primary-color;
}






