/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  clear: both;
  padding-top: 40px;
  background-color: $secondary-color;
}

.footer-widgets,
.footer-widgets a {
  color: $medium-gray;
}

.footer-widgets input {
  border: 1px solid $dark-gray;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: $white;
}

.footer-widgets li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted lighten($dark-gray, 30%);
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.flexible-widgets {
  &.uneven {
    .widget:last-child {
      width: 100%;
    }
  }
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  padding: 40px 0;
  background-color: $white;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.site-footer p {
  margin-bottom: 0;
  line-height:$global-line-height;
}




