/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: rem(20);
}

.entry-title {
  @include min-screen($mobile){
    font-size: rem(36);
    
 }
  font-size: rem(24);
@include max-screen($mobile){
       margin-top:24px;
 }
 color: $global-color;
}



.entry-title a:hover {
  color: $base-link-hover-color;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-widgets .widget-title {
  color: $white;
}