/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.wrap {
  @include min-screen($laptop) {
    max-width: 960px;
  }
  @include min-screen($desktop) {
    max-width: $max-width;

  }

  max-width: 800px;
  margin: 0 auto;

}

.builder-page {

  .site-inner{
    padding-top: 0;
    .wrap {
      @include min-screen($laptop) {
        max-width: 100% !important;
      }
      @include min-screen($desktop) {
        max-width: 100%;
      }
      max-width: 100%;
      @include max-screen($desktop) {
        padding: 0;
      }
      @include max-screen($mobile) {
        padding: 0;
      }
    }
    @include max-screen($laptop) {
      max-width: 100%;
    }
    @include max-screen($desktop) {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
    @include max-screen($mobile){
      padding: 0;
    }
    background: $global-background;
  }


}

.site-inner {
  @include max-screen($tablet) {
    max-width: 800px;
  }

  @include min-screen($tablet){
    background: $light;
   }
  background: $white;

  clear: both;
  padding-top: 40px;
}

.site-inner,
.wrap {
  @include max-screen($desktop) {
    padding-right: 2%;
    padding-left: 2%;
  }
  @include max-screen($mobile){
    padding-right: 4%;
    padding-left: 4%;
  }
}

/* ## Column Widths and Positions
--------------------------------------------- */



.content-sidebar-wrap{
  .full-width-content &{
    display: block;
  }
  display: flex;
  justify-content: space-between;
  @include max-screen($laptop){
    flex-wrap: wrap;
    //padding: 0 2%;
  }
}
.content-sidebar, .sidebar-content {
  .content {
    flex: 840px 3 3;
    @include min-screen($laptop) {
      margin-right: $global-medium-margin;
    }

  }
}

.sidebar-content .content {
  @include min-screen($laptop) {
    order: 2;
    margin-right: 0;
    margin-left: $global-medium-margin;;
  }
}
.sidebar-primary{
  flex: 320px 1 1;
}
/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}

.one-third,
.two-sixths {
  width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}

.one-fourth {
  width: 23.076923076923077%;
}

.three-fourths {
  width: 74.35897435897436%;
}

.one-sixth {
  width: 14.52991452991453%;
}

.five-sixths {
  width: 82.90598290598291%;
}

.first {
  clear: both;
  margin-left: 0;
}

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  @include max-screen($tablet) {
    margin: 0;
    width: 100%;
  }
}



