.header-wrap{
  background: $white;
}

.site-header {
  .has-hero-area & {
    //add hero image below transparent header
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  .wrap {

    padding: 10px 0;
    @include min-screen($laptop) {
      display: flex;
      justify-content: space-between;


    }
    .title-area {
      flex: 1;
    }
    .header-widget-area {
      flex: 3;
      text-align: right;
    }

  }
  p {
    margin: 0;
    @include max-screen($desktop) {
      margin: 0 5%;
    }
  }
  &.uk-active{
    background: $white;
  }
}
.has-hero-area{

    .site-title a, .site-description, .site-header .genesis-nav-menu > li > a {
      color: $white ;

    }

}

.has-hero-area .uk-active{
  .site-title a, .site-description,  .genesis-nav-menu > li > a{
    color:$global-color ;
  }
}
.site-title{
  a {
    color: $global-color;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
  }
}
.site-logo {

  img {
    max-height: 70px;
    margin: 0 auto;
    display: block;
    @include max-screen($laptop) {
      margin: 10px 0;
      display: block;
    }


  }
}

.site-header.centered{
  .wrap{
    flex-direction: column;
    justify-content:center;
    .header-widget-area{
      text-align: center;
    }
  }

}
.title-area{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.site-description{
  text-transform: uppercase;
  font-size: rem(12);
  font-weight:bold;
  //color:$white;
}

.header-wrap{

}

.hero-section{
  position: relative;

}


.home-heading{
  position: relative;
  z-index: 10;
  color: $white;
  text-transform: uppercase;
  font-size:rem(14);
  font-weight:bold;
  letter-spacing: 1px;
  p{
    max-width: 600px;
    line-height: 2;

  }
}
.home-heading-title{
  color:$white;
  text-transform: uppercase;
  font-weight:bold;

}
.icon-down{
  color:$light;
  @include transition();
}

